* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

#header {
    background-color: black;
    border-bottom: none 1px;
    padding-top: 0.5rem;
    font-size: .8rem;
    position: relative;
}

#header a {
    color: #ffc106;
    margin-left: 30px;
    text-decoration: none;
}

#header .enlaces {
    display: flex;
    margin-left: 270px;
}

#sama {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#buscador {
    display: flex;
    margin-right: 10px;
}

#buscador img {
    width: 25px;
}

/*NAVEGADOR*/

#navegador {
    font-family: Arial, sans-serif;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nav > li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.nav > li > a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover{
    color: #ffc106;
}

.submenus {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
}

.nav > li:hover .submenus {
    display: block;
}

.submenus > li {
    padding: 10px;
    border-bottom: 1px solid #666;
}

.submenus > li:last-child {
    border-bottom: none;
}

.submenus > li > a {
    color: white;
    text-decoration: none;
}

#footer {
    background-color: black;
    position: relative;
    margin-top: 10.5%;
    width: 100%;
    height: auto;
}

#info-footer{
    display: flex;
    justify-content: center;
}

#footer p{
    color: #ffc106;
}

#footer a{
    text-decoration: none;
    color: #ffc106;
    font-size: .88rem;
}

#info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nosotros{
    color: #ffc106;
    margin-right: 100px;
    line-height: 25px;
}

.categorias{
    color: #ffc106;
}

.contacto{
    color: #ffc106;
    margin-left: 100px;
    font-size: .88rem;
}

.titulo {
    border-bottom: 1px solid #ffc106;
    line-height: 50px;
    width: 300px;
    font-size: .9rem;
    font-weight: bold;
}

.nombre{
    line-height: 25px;
}

.ubicacion{
    display: flex;
}

#info-ubicacion{
    line-height: 20px;
    margin-left: 5px;
}

.telefono{
    display: flex;
    border-top: 1px solid #ffc106;
    border-bottom: 1px solid #ffc106;
    line-height: 30px;
    margin-top: 5px;
}

.castelldefels{
    margin-left: 10px;
}

.begues{
    margin-left: 5px;
}

.correo{
    line-height: 30px;
    display: flex;
}

.correo a{
    margin-left: 10px;
}

.footer-empresa{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.empresa{
    display: flex;
    flex-direction: column;
}

.redes{
    display: flex;
    justify-content: center;
    margin: 5px;
}

#facebook{
    margin-right: 10px;
}

#instagram{
    margin-left: 10px;
}


.account-settings {
    width: 1100px;
    margin-left:380px;
    height: 580px;
    background-color: #EEEEEE;
    border-radius: 20px;
    margin-bottom: 150px;
    margin-top: 30px;
    border: 1px solid black;
}


#biling-details{
    border-top: 1px solid #858585;
    margin-top: 30px;
    margin-bottom: 30px;
}

#update-password{
    border-top: 1px solid #858585;
}


h3{
    padding: 20px;
}

form input {
    border-radius: 5px;
    border: 1px solid black;
    width: 150px;
    height: 23px;
}

label{
    margin-left: 50px;

}

#email{
    width: 200px;
    margin-right: 90px;
}

#address{
    width: 200px;
}

#province{
    margin-right: 150px;
}

#postalCode{
    margin-right: 18px;
}

.btnSave{
    text-align: end;
}

#save{
    width: 110px;
    height: 40px;
    background-color: #374151;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 10px;
}

#personal-details #save{
    margin-left: 975px;
    margin-top: 10px;
}

#biling-details #save{
    margin-left: 975px;
    margin-top: 10px;
}

#update-password #save{
    margin-left: 975px;
    margin-top: 10px;
}

#save:hover{
    cursor: pointer;
}

.alert {
    color: #fff;
    background-color: #dc3545;
    padding: 5px;
    margin-top: -5px; 
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

#abrirBuscador{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-contenido {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    position: relative;
}

.modal-contenido input[type="text"] {
    width: 98%; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
}

.modal-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
