* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

#header {
    background-color: black;
    border-bottom: none 1px;
    padding-top: 0.5rem;
    font-size: .8rem;
    position: relative;
}

#menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

#header a {
    color: #ffc106;
    margin-left: 30px;
    text-decoration: none;
}

#header .enlaces {
    display: flex;
    margin-left: 270px;
}

#sama {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#buscador {
    display: flex;
    margin-right: 10px;
}

#buscador img {
    width: 25px;
}

#usuario {
    margin-right: 8px;
}

/*NAVEGADOR*/

#navegador {
    position: relative;
}

.menu-icon {
    display: none;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-category {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.main-category a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.main-category:hover a {
    color: #007bff;
}

.subcategories {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1;
}

.subcategories li {
    display: block;
    margin-top: 5px;
}

.subcategories li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.subcategories li a:hover {
    color: #007bff;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.close-icon {
    display: none;
}

#footer {
    background-color: black;
    position: relative;
    margin-top: 10.5%;
    width: 100%;
    height: auto;
}

#info-footer {
    display: flex;
    justify-content: center;
}

#footer p {
    color: #ffc106;
}

#footer a {
    text-decoration: none;
    color: #ffc106;
    font-size: .88rem;
}

#info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nosotros {
    color: #ffc106;
    margin-right: 100px;
    line-height: 25px;
}

.categorias {
    color: #ffc106;
}

.contacto {
    color: #ffc106;
    margin-left: 100px;
    font-size: .88rem;
}

.titulo {
    border-bottom: 1px solid #ffc106;
    line-height: 50px;
    width: 300px;
    font-size: .9rem;
    font-weight: bold;
}

.nombre {
    line-height: 25px;
}

.ubicacion {
    display: flex;
}

#info-ubicacion {
    line-height: 20px;
    margin-left: 5px;
}

.telefono {
    display: flex;
    border-top: 1px solid #ffc106;
    border-bottom: 1px solid #ffc106;
    line-height: 30px;
    margin-top: 5px;
}

.castelldefels {
    margin-left: 10px;
}

.begues {
    margin-left: 5px;
}

.correo {
    line-height: 30px;
    display: flex;
}

.correo a {
    margin-left: 10px;
}

.footer-empresa {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.empresa {
    display: flex;
    flex-direction: column;
}

.redes {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#facebook {
    margin-right: 10px;
}

#instagram {
    margin-left: 10px;
}

.somos {
    border-bottom: 1px solid grey;
    width: 70%;
    margin-left: 300px;
    line-height: 60px;
}

h2 {
    color: #ffc106;
    font-size: 1.4em;
    width: 70%;
}

#nuestra-empresa {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.informacion-empresa {
    line-height: 25px;
    width: 30%;
    font-size: 0.9em;
    margin-right: 200px;
}

h3 {
    margin-top: 20px;
}

.informacion-empresa li {
    margin-left: 20px;
}

.lista {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagen-empresa {
    margin-top: 15px;
}

.imagen-empresa img {
    width: 550px;
    height: 300px;
}

#abrirBuscador {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    position: relative;
}

.modal-contenido input[type="text"] {
    width: 98%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}

.modal-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {

    #header {
        padding-top: 0.3rem;
    }

    #header a {
        margin-left: 10px;
    }

    #header .enlaces {
        margin-left: 10px;
    }

    #sama {
        margin-top: 20px;
    }

    #buscador img {
        width: 20px;
    }

    .img-info {
        flex-direction: column;
    }

    .nosotros,
    .categorias,
    .contacto {
        margin: 0;
        text-align: center;
    }

    .desplegable {
        width: 100%;
        cursor: pointer;
        color: #ffc106;
        text-decoration: underline;
        font-size: .88rem;
    }

    .nav-submenu {
        display: none;
    }

    #info {
        display: none;
    }

    .categorias {
        display: block;
    }

    .nav-submenu {
        display: block;
    }

    .desplegable::after {
        content: '▼';
        margin-left: 5px;
        transition: transform 0.2s;
        transform: rotate(180deg);
    }
    

    body.nav-active {
        overflow: hidden;
    }

    #nav {
        display: none;
        position: fixed;
        background-color: black;
        height: 100%;
        width: 40%;
        top: 0;
        left: 0;
        padding: 20px;
        z-index: 999;
    }

    #nav.active {
        display: block;
    }

    #menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .nav>li {
        display: block;
        margin-bottom: 10px;
    }

    #nav a {
        color: #fff;
    }

    #nav a:hover {
        color: #ffc106;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }


    #nuestra-empresa {
        display: flex;
        flex-direction: column;
    }

    .somos {
        margin-left: 10px;
        width: 90%;
        line-height: 40px;
    }

    h2 {
        width: 90%;
    }

    .informacion-empresa {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagen-empresa img {
        width: 90%;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 769px) {
    #header {
        padding-top: 0.3rem;
    }

    #header a {
        margin-left: 10px;
    }

    #header .enlaces {
        margin-left: 10px;
    }

    #sama {
        margin-top: 20px;
    }

    #buscador img {
        width: 20px;
    }

    .img-info {
        flex-direction: column;
    }

    .somos {
        width: 70%;
        margin-left: 100px;
        line-height: 60px;
    }

    .informacion-empresa {
        line-height: 25px;
        width: 70%;
        font-size: 0.9em;
        margin-left: 10%;
        margin-right: 20px;
    }

    .imagen-empresa img {
        width: 90%;
        height: auto;
    }

    .nosotros,
    .categorias {
        margin-left: 10px;
    }

    .desplegable {
        width: 100%;
        font-size: .88rem;
    }

    #footer {
        position: absolute;
    }
}